<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule mod_headers.c>
	#SetEnvIf Origin "http(s)?://(www\.)?(frontend)$" AccessControlAllowOrigin=$0$1
	SetEnvIf Origin "http(s)?://(www\.)?(mmdemo.socialsensor.eu|160.40.51.26|step-mklab.iti.gr)$" AccessControlAllowOrigin=$0$1
	Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
	Header set Access-Control-Allow-Credentials true
</IfModule>
