html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #27292C;
    font-family: 'Roboto Slab', sans-serif;
}

ol, ul {
    list-style: none;
}

#base-chart {
    background: url('../../imgs/basechart2.png') no-repeat bottom center;
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    background-size: cover;
}

.project_name {
    position: relative;
    top: 6px;
    color: #888;
    display: inline-block;
    font-size: 30px;
    margin: 23px 0 0;
}

.logo {
    width: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 23px;
}

#top-nav {
    float: right;
    margin-top: 40px;
}

#top-nav li:first-child {
    margin-left: 0;
}

#top-nav li {
    float: left;
    height: 23px;
    margin: 0 0 0 17px;
    padding: 0 8px;
}

#top-nav li a {
    color: #888;
    display: block;
    font-size: 13px;
    height: 100%;
    letter-spacing: .16em;
    outline: none;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 525px) {
    #top-nav {
        padding-left: 0;
        margin-top: 10px;
    }

    #top-nav li {
        margin: 0;
    }
}

#top-nav li a:after {
    background: #FFF;
    bottom: -3px;
    content: '';
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .27s ease, bottom .27s ease;
    -moz-transition: opacity .27s ease, bottom .27s ease;
    -o-transition: opacity .27s ease, bottom .27s ease;
    transition: opacity .27s ease, bottom .27s ease;
    width: 100%;
}

#top-nav li:hover a {
    border-color: #FFF;
    color: #fff;
}

#top-nav li:hover a:after {
    bottom: 0;
    opacity: 1;
}

.municipality_title {
    font-family: 'Open Sans', sans-serif;
    color: #b1b1b2;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: .16em;
    line-height: 1.6em;
    text-align: left;
    text-transform: uppercase;
    margin: 195px 0 0;
    width: auto;
    word-spacing: .15em;
}

.municipality_title strong {
    color: #ecf0f1;
    letter-spacing: .04em;
    font-size: 38px;
    position: relative;
    top: 19px;
}

.responsive-image {
    width: 100%;
}

.tool-support-animation-container {
    position: relative;
    margin: 0 auto;
    width: 291px;
    height: 247px;
    opacity: 0;
}

@media screen and (min-width: 840px) {
    .tool-support-animation-container {
        width: 402px;
        height: 342px
    }
}

@media screen and (min-width: 1200px) {
    .tool-support-animation-container {
        width: 490px;
        height: 464px
    }
}

@media screen and (min-width: 840px) {
    .tool-support-animation-container:after {
        width: 402px;
        height: 342px
    }
}

@media screen and (min-width: 1200px) {
    .tool-support-animation-container:after {
        width: 490px;
        height: 464px
    }
}

@media (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .tool-support-animation-container:after {
        background: none
    }
}

.tile-slide-down {
    transition: opacity .7s ease-out, -webkit-transform .7s ease-out;
    transition: opacity .7s ease-out, transform .7s ease-out;
    transition: opacity .7s ease-out, transform .7s ease-out, -webkit-transform .7s ease-out
}

.tile-slide-down--top {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
    opacity: 0
}

@media screen and (min-width: 1200px) {
    .tile-slide-down--top {
        -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        transform: translateY(-50px)
    }
}

.tile-slide-down--bottom {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    opacity: 1
}

.shadow-grow--inactive {
    -webkit-transform: scale(0) translateY(-10px);
    -ms-transform: scale(0) translateY(-10px);
    transform: scale(0) translateY(-10px);
    opacity: 0
}

.shadow-grow--active {
    -webkit-transform: scale(1) translate(0);
    -ms-transform: scale(1) translate(0);
    transform: scale(1) translate(0);
    opacity: 1
}

.deployment-tile-container {
    position: relative;
    z-index: 2;
    margin-top: 120px;
}

.deployment-tile-container:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px)
}

.deployment-tile-container:hover + .deployment-shadow-container .shadow-grow {
    -webkit-transform: scale(.9) translateY(-3px);
    -ms-transform: scale(.9) translateY(-3px);
    transform: scale(.9) translateY(-3px)
}

.deployment-tile {
    position: absolute;
    height: 34px;
    width: 89px
}

@media screen and (min-width: 840px) {
    .deployment-tile {
        height: 66px;
        width: 121px
    }

    .deployment-tile-container {
        margin-top: 94px;
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile {
        height: 96px;
        width: 151px
    }

    .deployment-tile-container {
        margin-top: 60px;
    }
}

.deployment-tile--facebook {
    top: 0;
    left: 7px
}

@media screen and (min-width: 840px) {
    .deployment-tile--facebook {
        top: 2px;
        left: 11px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--facebook {
        top: 24px;
        left: 11px
    }
}

.deployment-tile--camera {
    top: 73px;
    left: 4px
}

@media screen and (min-width: 840px) {
    .deployment-tile--camera {
        top: 103px;
        left: 7px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--camera {
        top: 148px;
        left: 5px
    }
}

.deployment-tile--google {
    top: 146px;
    left: 5px
}

@media screen and (min-width: 840px) {
    .deployment-tile--google {
        top: 204px;
        left: 8px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--google {
        top: 271px;
        left: 7px
    }
}

.deployment-tile--twitter {
    top: 36px;
    left: 68px
}

@media screen and (min-width: 840px) {
    .deployment-tile--twitter {
        top: 52px;
        left: 95px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--twitter {
        top: 86px;
        left: 114px
    }
}

.deployment-tile--video {
    top: 108px;
    left: 68px
}

@media screen and (min-width: 840px) {
    .deployment-tile--video {
        top: 151px;
        left: 95px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--video {
        top: 207px;
        left: 114px
    }
}

.deployment-tile--chat {
    top: 183px;
    left: 68px
}

@media screen and (min-width: 840px) {
    .deployment-tile--chat {
        top: 254px;
        left: 94px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--chat {
        top: 332px;
        left: 114px
    }
}

.deployment-tile--user {
    top: 72px;
    left: 133px
}

@media screen and (min-width: 840px) {
    .deployment-tile--user {
        top: 100px;
        left: 185px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--user {
        top: 144px;
        left: 224px
    }
}

.deployment-tile--flickr {
    top: 146px;
    left: 132px
}

@media screen and (min-width: 840px) {
    .deployment-tile--flickr {
        top: 203px;
        left: 183px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--flickr {
        top: 271px;
        left: 221px
    }
}

.deployment-tile--rss {
    top: 35px;
    left: 196px
}

@media screen and (min-width: 840px) {
    .deployment-tile--rss {
        top: 49px;
        left: 273px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--rss {
        top: 83px;
        left: 330px
    }
}

.deployment-tile--hashtag {
    top: 109px;
    left: 195px
}

@media screen and (min-width: 840px) {
    .deployment-tile--hashtag {
        top: 152px;
        left: 271px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--hashtag {
        top: 209px;
        left: 328px
    }
}

.deployment-tile--youtube {
    top: 182px;
    left: 195px
}

@media screen and (min-width: 840px) {
    .deployment-tile--youtube {
        top: 253px;
        left: 271px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-tile--youtube {
        top: 332px;
        left: 328px
    }
}

.deployment-shadow-container {
    position: relative;
    z-index: 1
}

.deployment-shadow {
    position: absolute;
    height: 34px;
    width: 89px
}

@media screen and (min-width: 840px) {
    .deployment-shadow {
        height: 66px;
        width: 121px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow {
        height: 89px;
        width: 152px
    }
}

.deployment-shadow--facebook {
    top: 9px;
    left: 8px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--facebook {
        top: 13px;
        left: 12px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--facebook {
        top: 38px;
        left: 11px
    }
}

.deployment-shadow--camera {
    top: 82px;
    left: 5px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--camera {
        top: 114px;
        left: 8px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--camera {
        top: 162px;
        left: 5px
    }
}

.deployment-shadow--google {
    top: 155px;
    left: 6px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--google {
        top: 216px;
        left: 9px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--google {
        top: 285px;
        left: 4px
    }
}

.deployment-shadow--twitter {
    top: 45px;
    left: 69px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--twitter {
        top: 64px;
        left: 96px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--twitter {
        top: 100px;
        left: 114px
    }
}

.deployment-shadow--video {
    top: 117px;
    left: 69px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--video {
        top: 163px;
        left: 96px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--video {
        top: 221px;
        left: 114px
    }
}

.deployment-shadow--chat {
    top: 191px;
    left: 69px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--chat {
        top: 266px;
        left: 95px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--chat {
        top: 346px;
        left: 114px
    }
}

.deployment-shadow--user {
    top: 81px;
    left: 134px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--user {
        top: 112px;
        left: 186px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--user {
        top: 158px;
        left: 224px
    }
}

.deployment-shadow--flickr {
    top: 154px;
    left: 133px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--flickr {
        top: 214px;
        left: 184px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--flickr {
        top: 285px;
        left: 221px
    }
}

.deployment-shadow--rss {
    top: 44px;
    left: 197px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--rss {
        top: 60px;
        left: 274px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--rss {
        top: 97px;
        left: 330px
    }
}

.deployment-shadow--hashtag {
    top: 118px;
    left: 196px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--hashtag {
        top: 163px;
        left: 272px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--hashtag {
        top: 223px;
        left: 328px
    }
}

.deployment-shadow--youtube {
    top: 191px;
    left: 196px
}

@media screen and (min-width: 840px) {
    .deployment-shadow--youtube {
        top: 265px;
        left: 272px
    }
}

@media screen and (min-width: 1200px) {
    .deployment-shadow--youtube {
        top: 346px;
        left: 328px
    }
}

.text_slider_wrapper {
    position: relative;
    height: 160px;
    overflow: hidden;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;
    width: 455px;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .text_slider_wrapper {
        font-size: 25px;
        width: 340px;
    }
}

@media screen and (max-width: 400px) {
    .text_slider_wrapper {
        font-size: 14px;
        width: 230px;
    }
}

.text_slider {
    font-weight: 600;
    overflow: hidden;
    height: 41px;
    padding: 0 40px;
    margin-top: 100px;
}

.text_slider:before {
    content: '[';
    left: 0;
}

.text_slider:after {
    content: ']';
    position: absolute;
    right: 0;
    top: 100px;
}

.text_slider:after, .text_slider:before {
    position: absolute;
    color: #47a3da;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.text_slider_list {
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    padding: 0;
    text-align: center;
    margin: 0;
}

.text_slider_list_item {
    line-height: 41px;
    margin: 0;
}

@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%, 12.66%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
        -webkit-transform: translate3d(0, -75%, 0);
        transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%, 12.66%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
        -webkit-transform: translate3d(0, -75%, 0);
        transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }
}

.scroll-down {
    width: 90px;
    margin: 0 auto;
    height: 180px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    margin-left: 30px;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.scroll-down span {
    display: block;
    margin-top: 55px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
    position: relative;
    top: 70px;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.description {
    color: #ecf0f1;
    margin: 0;
    opacity: 0;
    position: relative;
    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.description.left_side {
    text-align: left;
}

.description h3 {
    font-size: 18px;
    letter-spacing: .1em;
    margin: 0 0 35px;
    text-transform: uppercase;
    word-spacing: .12em;
    text-align: right;
}

.left_side h3 {
    text-align: left;
}

.description h3:after {
    background: transparent;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    top: 28px;
    -webkit-transition: width 1.5s, background 1.5s;
    -moz-transition: width 1.5s, background 1.5s;
    -o-transition: width 1.5s, background 1.5s;
    transition: width 1.5s, background 1.5s;
    width: 0;
}

.description.left_side h3:after {
    left: 0;
}

.active_line:after {
    background: #e6e7eb !important;
    width: 100% !important;
}

.description p {
    font-size: 17px;
    line-height: 34px;
}

.margin_vertical {
    margin: 300px auto !important;
}

@media screen and (max-width: 640px) {
    .margin_vertical {
        margin: 80px auto !important;
    }

    .deployment-tile-container {
        margin-top: 70px;
    }

    .municipality_title {
        text-align: center;
        margin: 35px 0 0;
    }

    .description {
        margin-top: 20px;
    }
}

.pie_chart_wrapper {
    width: 100%;
    height: 100%;
}

.pie_chart_wrapper svg {
    overflow: visible;
}

.pie_chart_wrapper path {
    stroke: #27292C;
    -webkit-transition: fill 250ms;
    transition: fill 250ms;
}

.pie_chart_wrapper text {
    letter-spacing: .5px;
    font-weight: bold;
}

.pie_chart_wrapper polyline {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 5px;
}

#influencers_wrapper {
    text-align: center;
}

#influencers_wrapper hr {
    position: relative;
    top: -50px;
    color: #ecf0f1;
    opacity: 0.1;
}

.circle-container {
    background: #212326;
    -webkit-border-radius: 44px;
    border-radius: 44px;
    display: inline-block;
    height: 89px;
    margin: 10px 30px 60px 0;
    opacity: 0;
    position: relative;
    -webkit-transition: opacity .5s ease, background .5s ease;
    -moz-transition: opacity .5s ease, background .5s ease;
    -o-transition: opacity .5s ease, background .5s ease;
    transition: opacity .5s ease, background .5s ease;
    width: 89px
}

.circle_source_icon {
    position: absolute;
    top: 20px;
    left: 32px;
}

.circle {
    -webkit-border-radius: 44px;
    border-radius: 44px;
    float: left;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .6s;
    -moz-transition: -moz-transform .6s;
    -o-transition: -o-transform .6s;
    transition: transform .6s;
    width: 100%
}

.circle .front, .circle .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 44px;
    border-radius: 44px;
    color: #FFF;
    display: block;
    height: 100%;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .04em;
    line-height: 91px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    transition: opacity 2s ease;
    width: 100%;
    padding: 0 5px;
}

.circle .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    line-height: 40px;
    padding-top: 35px
}

.circle .back a {
    color: #ecf0f1;
    text-decoration: none;
    white-space: nowrap;
}

.circle .back a:hover {
    text-decoration: underline
}

.circle .front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background-size: cover !important;
    z-index: 10
}

.circle:hover {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.circle-container.clear {
    clear: left
}

#circle-5 .front, #circle-7 .front, #circle-10 .front {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s
}

#circle-1 .front, #circle-8 .front {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: .2s
}

#circle-3 .front, #circle-4 .front, #circle-15 .front {
    -webkit-transition-delay: 1.4s;
    -moz-transition-delay: 1.4s;
    -o-transition-delay: 1.4s;
    transition-delay: 1.4s
}

#circle-9 .front, #circle-11 .front, #circle-14 .front {
    -webkit-transition-delay: 1.6s;
    -moz-transition-delay: 1.6s;
    -o-transition-delay: 1.6s;
    transition-delay: 1.6s
}

#circle-6 .front {
    -webkit-transition-delay: 1.8s;
    -moz-transition-delay: 1.8s;
    -o-transition-delay: 1.8s;
    transition-delay: 1.8s
}

#circle-2 .front, #circle-12 .front, #circle-13 .front {
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s
}

#influencers_wrapper.activate .circle-container {
    background: #27292c;
    -webkit-transition-delay: 2.2s;
    -moz-transition-delay: 2.2s;
    -o-transition-delay: 2.2s;
    transition-delay: 2.2s
}

#influencers_wrapper.activate .front, #influencers_wrapper.activate .back {
    opacity: 1
}

#influencers_wrapper.prep-activate .circle-container {
    opacity: 1;
}

@media only screen and (max-width: 1120px) {
    #influencers_wrapper hr {
        display: none !important;
    }
}

@media only screen and (max-width: 640px) {
    #influencers_wrapper {
        margin-top: 100px;
    }
}

#tabs {
    border-bottom: 2px solid #888;
    transition: height 500ms, background 500ms, box-shadow 500ms;
}

#tabs nav {
    text-align: center;
}

#tabs nav ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}

#tabs nav ul li {
    margin: 0 0.25em;
    float: left;
    position: relative;
    color: #888;
    display: block;
    font-size: 1.45em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
    cursor: pointer;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tabs nav li:hover {
    color: #47a3da;
}

#tabs nav li.tab-current {
    color: #47a3da;
    cursor: default;
}

.tab-current:after {
    background: #47a3da;
    content: '';
    height: 2px;
    position: absolute;
    top: 50px;
    width: 50px;
    left: 50%;
    margin-left: -25px;
}

#tabs.sticky {
    -webkit-box-shadow: 0 2px 5px 0 #000;
    -moz-box-shadow: 0 2px 5px 0 #000;
    box-shadow: 0 2px 5px 0 #000;
    background: #212326;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: height 500ms, background 500ms, box-shadow 500ms;
    z-index: 10;
}

#chart_line {
    height: 500px;
}

.ca-container {
    position: relative;
    width: 710px;
    height: 510px;
    margin: 0 auto;
    display: none;
}

.ca-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.ca-item {
    position: relative;
    float: left;
    width: 235px;
    height: 100%;
    text-align: center;
}

.ca-item-main {
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #ecf0f1;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.ca-item h4 {
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    border-left: 10px solid #47a3da;
    padding-left: 10px;
    line-height: 21px;
    position: relative;
    margin: 20px 3px 15px;
    overflow: hidden;
    height: 126px;
}

.ca-item h4 span {
    text-indent: 42px;
    display: block;
    font-style: italic;
}

.ca-item h4 span.ca-quote {
    color: #aaa;
    font-size: 92px;
    position: absolute;
    top: 26px;
    left: 6px;
    text-indent: 0;
    font-family: "Georgia", "Times New Roman", serif;
}

.ca-nav span {
    width: 25px;
    height: 38px;
    background: transparent url(../../imgs/left_arrow_white_32.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: -40px;
    text-indent: -9000px;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1;
}

.ca-nav span.ca-nav-next {
    background: transparent url(../../imgs/right_arrow_white_32.png) no-repeat;
    left: auto;
    right: -40px;
}

.ca-nav span:hover {
    opacity: 1.0;
}

.ca-icon {
    height: 189px;
    position: relative;
    margin: 0 auto;
    background-size: cover !important;
    background-position: 50% !important;
}

.ca-user {
    position: relative;
    text-align: center;
    margin: 15px 0 12px;
}

.ca-user:before {
    content: '';
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 1px;
    border-bottom: 2px solid #47a3da;
    top: 24px;
    left: 0;
    opacity: 0.5;
}

.ca-userpic {
    border: 1px solid #47a3da;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    display: block;
    margin: 0 auto 9px;
    background-size: cover !important;
    position: relative;
    z-index: 2;
    -ms-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0px);
    -moz-transform: translate3d(0, 0, 0px);
    -ms-transform: translate3d(0, 0, 0px);
    transform: translate3d(0, 0, 0px);
}

.ca-username {
    color: rgb(154, 78, 141);
    display: block;
    text-align: center;
    margin: 3px 0 0;
    word-wrap: break-word;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

.ca-footer {
    color: #555;
    height: 25px;
}

.ca-footer img {
    width: 20px;
    vertical-align: bottom;
    float: left;
    margin-left: 5px;
}

.ca-share {
    font-weight: bold;
    margin-left: 5px;
    float: left;
    font-size: 14px;
}

.ca-timestamp:before {
    content: '\25CF';
    font-size: 10px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 0;
    position: relative;
    top: -1px;
}

.ca-timestamp {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.ca-link {
    font-size: 12px;
    color: #888;
    font-style: italic;
    text-decoration: none;
    float: left;
    margin: 5px auto 0 5px;
}

.ca-user.no-media {
    margin-top: 74px;
}

h4.no-media {
    margin-top: 130px;
    height: 147px;
}

.ca-count {
    font-size: 14px;
    color: #888;
    font-style: italic;
    float: right;
    font-weight: bold;
    margin: 5px 5px 0 0;
}

@media only screen and (max-width: 1360px) {
    .ca-container {
        width: 470px;
    }
}

@media only screen and (max-width: 860px) {
    .ca-container {
        width: 235px;
    }
}

.ca-navigation {
    display: none;
}

.ca-navigation li {
    display: inline-block;
    margin: 0 10px;
}

.ca-navigation ul li {
    width: 12px;
    height: 12px;
    white-space: nowrap;
    border: 2px solid #ecf0f1;
    transition: .2s ease-in-out;
}

.ca-navigation ul li.ca-active {
    background-color: #ecf0f1;
}

.ca-navigation ul {
    text-align: center;
}

.stats_items {
    padding: 10px 20px;
    width: 300px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.50), 0 15px 12px rgba(0, 0, 0, 0.32);
    background: linear-gradient(#526494, #0B7189);
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    margin: 0 20px 40px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    float: right;
}

.stats_number {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}

.stats_desc {
    font-size: 17px;
    margin: 0;
}

.stats_img {
    width: 60px;
    position: absolute;
    top: 15px;
    right: 10px;
}

#tags_wrapper {
    width: 100%;
    height: 400px;
}

#legend_tags {
    display: none;
    height: 20px;
    width: 100%;
    text-align: center;
}

#legend_concepts {
    position: absolute;
    margin-top: 140px;
    width: 420px;
    margin-left: -82px;
    display: none;
}

.legendcolor {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-bottom: 2px;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 3px;
}

.legendtext {
    display: inline-block;
    position: relative;
    top: -2px;
    color: #ecf0f1;
    font-weight: bold;
}

.tags_title {
    fill: #ecf0f1;
    font-weight: bold;
    font-size: 16px;
    text-anchor: middle;
}

@media only screen and (max-width: 900px) {
    .tags_title {
        display: none;
    }
}

.topics_chart {
    position: absolute;
    left: 120px;
    top: 120px;
}

.topics_chart, .topics_chart button {
    font-weight: 300;
}

.topics_chart button {
    height: 250px;
    width: 250px;
    position: relative;
    cursor: default;
    padding: 10px;
    background: #0B7189;
    border-radius: 50%;
    border: 0;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
    word-wrap: break-word;
}

.topics_chart ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
}

.topics_chart li {
    position: absolute;
    width: 0;
    height: 100%;
    margin: 0 50%;
    -webkit-transform: rotate(-360deg);
    transition: all 1s ease-in-out;
}

.topics_chart li input {
    display: none;
}

.topics_chart li input + label {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    margin-left: 0;
    background: #1e537e;
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    box-shadow: none;
    transition: all 1s ease-in-out, color 0.1s, background 0.1s;
    cursor: default;
    padding: 45px 5px 0;
    color: #ecf0f1
}

.topics_chart.open li input + label {
    width: 120px;
    height: 120px;
    margin-left: -40px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
}

.topics_chart_wrapper {
    position: relative;
    height: 500px;
}

#topic_main {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.topics_circle {
    position: absolute;
    margin: 0;
    border: dashed 3px #0B7189;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    left: -90px;
    top: -75px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.concept_small {
    width: 70px !important;
    height: 70px !important;
    bottom: 318px !important;
    padding-top: 22px !important;
    background: #4c88b8 !important;
    font-size: 12px !important;
}

.concept_medium {
    width: 80px !important;
    height: 80px !important;
    bottom: 314px !important;
    padding-top: 24px !important;
    font-size: 13px !important;
    background: #3a75a5 !important;
}

.concept_large {
    width: 90px !important;
    height: 90px !important;
    bottom: 308px !important;
    padding-top: 33px !important;
    background: #2f6794 !important;
}

@media only screen and (max-width: 1360px) {
    .topics_chart {
        left: 150px;
    }
}

@media only screen and (max-width: 750px) {

    .topics_chart button {
        height: 150px;
        width: 150px;
    }

    .concept_small {
        bottom: 211px !important;
    }

    .concept_small {
        bottom: 217px !important;
    }

    .concept_large {
        bottom: 221px !important;
    }

    .topics_circle {
        width: 320px;
        height: 320px;
    }
}

#mapContainer {
    height: 500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    outline: none;
    opacity: 0;
    -webkit-transition: opacity 1.5s linear;
    -moz-transition: opacity 1.5s linear;
    -o-transition: opacity 1.5s linear;
    transition: opacity 1.5s linear
}

#map_tooltip {
    opacity: .9;
    background: #333;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    pointer-events: none;
    color: #ecf0f1;
}

#map_tooltip p {
    margin: 0;
}

.leaflet-image-layer, .leaflet-layer, .leaflet-map-pane, .leaflet-marker-icon, .leaflet-marker-pane, .leaflet-marker-shadow, .leaflet-overlay-pane, .leaflet-overlay-pane svg, .leaflet-popup-pane, .leaflet-shadow-pane, .leaflet-tile, .leaflet-tile-container, .leaflet-tile-pane, .leaflet-zoom-box {
    position: absolute;
    left: 0;
    top: 0
}

.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.leaflet-container.dark .map-tooltip .close, .leaflet-control-layers-toggle, .leaflet-control-zoom-in, .leaflet-control-zoom-out, .leaflet-popup-close-button, .map-tooltip .close, .mapbox-icon {
    opacity: .75;
    background-image: url(../../imgs/map_icons_stripe.png);
    background-repeat: no-repeat;
    background-size: 26px 260px
}

.leaflet-bar .leaflet-control-zoom-in {
    background-position: 0 0
}

.leaflet-bar .leaflet-control-zoom-out {
    background-position: 0 -26px
}

.leaflet-bar a, .leaflet-control-layers-toggle, .leaflet-popup-close-button, .map-tooltip.closable .close, .mapbox-button-icon:before, .mapbox-icon {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    background-repeat: no-repeat
}

.leaflet-bar a {
    display: block
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    display: block;
    content: '';
    text-indent: -999em
}

.leaflet-bar a:active, .leaflet-bar a:hover {
    background-color: #f8f8f8;
    cursor: pointer
}

.leaflet-bar, .leaflet-control-layers {
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0, 0, 0, .4);
    border-radius: 3px;
    box-shadow: none
}

.leaflet-zoom-box {
    background: #fff;
    border: 2px dotted #202020;
    opacity: .5
}

.leaflet-zoom-box {
    background: #fff;
    border: 2px dotted #202020;
    opacity: .5
}

.leaflet-marker-icon, .leaflet-marker-shadow {
    display: block
}

.leaflet-tile {
    filter: inherit;
    visibility: hidden
}

.leaflet-tile-loaded {
    visibility: inherit
}

.leaflet-zoom-box {
    width: 0;
    height: 0
}

.leaflet-tile-pane {
    z-index: 2
}

.leaflet-objects-pane {
    z-index: 3
}

.leaflet-overlay-pane {
    z-index: 4
}

.leaflet-shadow-pane {
    z-index: 5
}

.leaflet-marker-pane {
    z-index: 6
}

.leaflet-popup-pane {
    z-index: 7
}

.leaflet-control {
    position: relative;
    z-index: 7;
    pointer-events: auto;
    float: left;
    clear: both
}

.leaflet-right {
    display: none;
}

.leaflet-top .leaflet-control {
    margin-top: 10px
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px
}

.leaflet-left .leaflet-control {
    margin-left: 10px
}

.leaflet-right .leaflet-control {
    margin-right: 10px
}

.leaflet-bottom, .leaflet-top {
    position: absolute;
    z-index: 1000;
    pointer-events: none
}

.leaflet-top {
    top: 0
}

.leaflet-right {
    right: 0
}

.leaflet-bottom {
    bottom: 0
}

.leaflet-left {
    left: 0
}

.leaflet-fade-anim .leaflet-popup, .leaflet-fade-anim .leaflet-tile {
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup, .leaflet-fade-anim .leaflet-tile-loaded {
    opacity: 1
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    -webkit-transition: -webkit-transform .25s cubic-bezier(0, 0, .25, 1);
    -moz-transition: -moz-transform .25s cubic-bezier(0, 0, .25, 1);
    -o-transition: -o-transform .25s cubic-bezier(0, 0, .25, 1);
    transition: transform .25s cubic-bezier(0, 0, .25, 1)
}

.leaflet-pan-anim .leaflet-tile, .leaflet-touching .leaflet-zoom-animated, .leaflet-zoom-anim .leaflet-tile {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}

.leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden
}

.leaflet-container {
    cursor: -webkit-grab;
    cursor: -moz-grab
}

.leaflet-container.leaflet-clickable, .leaflet-container.map-clickable {
    cursor: pointer
}

.leaflet-control, .leaflet-popup-pane {
    cursor: auto
}

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, .8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0
}

.reveal-modal {
    visibility: hidden;
    top: 100px !important;
    width: 600px;
    background: #eee;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    max-width: 95%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

.reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    font-weight: bold;
    cursor: pointer
}

.close-reveal-modal {
    color: #666;
}

.noData {
    position: relative;
    color: #ecf0f1;
    text-align: center;
    font-size: 35px;
    top: 50%;
    margin: -23px 0 0;
}

.noShadow {
    box-shadow: none !important;
    cursor: default !important;
}

.circle-posts {
    color: #ecf0f1;
    position: absolute;
    top: -70px;
    text-align: center;
    font-weight: bold;
    width: 89px;
}

.verticalLine {
    border-left: 2px dashed #ecf0f1;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 45px;
}

#user_tabs {
    text-align: center;
    padding: 10px 10px 85px;
    margin-top: -35px;
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

#border_div {
    border-top: 2px solid #5a5c5e;
}

#user_tabs input {
    display: none;
}

#user_tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #555;
    border: 1px solid transparent;
    width: 145px;
}

#user_tabs label:before {
    font-weight: normal;
    margin-right: 10px;
}

#user_tabs label:hover {
    color: #888;
    cursor: pointer;
}

#user_tabs input:checked + label {
    color: #ecf0f1;
    border: 2px solid #5a5c5e;
    border-top: 3px solid #47a3da;
    border-bottom: 0;
}
#articles_wrapper{
    text-align: center;
}

.frame {
    width: 1090px;
    height: 558px;
    border: none;
    -moz-transform: scale(0.33);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.33);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.33);
    -webkit-transform-origin: 0 0;
    pointer-events: none;
    position: absolute;
    margin-left: -180px;
    margin-top: -10px;
}

.frame_wrapper {
    display: inline-block;
    background: #ecf0f1;
    width: 360px;
    padding: 10px;
    margin: 0 40px 10px 0;
}

.frame_article {
    margin-top: 185px;
    text-align: left;
}

.frame_article h2 {
    line-height: 1.2;
    margin-bottom: 1.6rem;
    color: #444;
}

.frame_article p {
    color: #666666;
    font-size: 14px;
    margin-top: -10px;
    height: 96px;
    overflow: hidden;
}

.frame_source img {
    margin-right: 5px;
}

.frame_source img, .frame_source_name {
    display: inline-block;
    vertical-align: middle;
}

.frame_source_name {
    color: #666666;
    font-size: 13px;
}

.frame_source_name a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

.frame_source_name a:hover {
    text-decoration: underline;
}

.frame_source, .frame_link {
    display: inline-block;
}

.frame_link {
    font-size: 14px;
    float: right;
    font-weight: bold;
    border: 1px solid #47a3da;
    padding: 10px;
    color: #47a3da
}

.frame_link:hover {
    background: #47a3da;
    color: #ecf0f1;
}

.frame_link a {
    text-decoration: none;
    color: inherit;
}

.frame_source {
    margin-top: 20px;
}

.pagination {
    display: inline-block;
    margin: 20px 0;
    border-radius: 4px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: disc inside;
}

.pagination .first, .pagination .prev, .pagination.last, .pagination .next {
    font-weight: bold;
}

.pagination > li {
    display: inline;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #999;
    cursor: default;
    background-color: #ecf0f1;
    border-color: #ddd;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ecf0f1;
    border: 1px solid #ddd;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ecf0f1;
    cursor: default;
    background-color: #47a3da;
    border-color: #47a3da;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    color: #94B0DA;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #ddd;
}

.well {
    text-align: center;
    max-width: 782px;
    margin-top: 10px;
}